<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">Franklin Web API</a>
            </p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to the Franklin Web API!</h1>
            </hgroup>
            <p>
               The Franklin Web API provides the following calls for consumption by the franklin blogging theme.
            </p>
            <ul>
                <li>api/tweets</li>
            </ul>
        </div>
    </section>
</div>
